@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");

body {
  margin: 0;
  font-family: "Chilanka", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

body .main-container {
  margin-left: 25vw;
}

button {
  -webkit-tap-highlight-color: transparent;
}
